$content-with: 1382px;

$font-colors: (
    main: #fff,
    grey-main: #b3b2ae,
    grey-menu: #414141,
    black: #202124,
    accent: #fabd04,
);

$bg-color: #202124;
$card-color-hover: #2b2b2f;

$font-sizes: (
    small: 16px,
    medium: 18px,
    large: 20px,
    title-small: 24px,
    title-medium: 36px,
    title-large: 40px,
);

$font-weights: (
    regular: 400,
    medium: 600,
    bold: 700,
);

