$content-with: (
    xxxl: 1382px,
    xxl: 1140px,
    xl: 885px,
    md: 820px, 
    sm: 380px,
);

$breakpoint: (
    xxxl: 1500px,
    xxl: 1280px,
    xl: 1024px,
    md: 930px, 
    sm: 600px,
);

$colors: (
    main: #fff,
    grey-main: #b3b2ae,
    grey-menu: #414141,
    black-main: #202124,
    accent: #fabd04,
    hover-btn: #dba602,
    bgr-card: #2b2b2f,
    bg-color: #202124,
);

$font-sizes: (
    text-brief: 14px,
    chip: 12px,
    small: 16px,
    medium: 18px,
    large: 20px,
    title-small: 24px,
    subtitle-brief: 35px,
    subtitle-smale: 28px,
    subtitle: 30px,
    title-medium: 36px,
    title-large: 40px,
    big: 64px,
);

$font-weights: (
    regular: 400,
    medium: 600,
    bold: 700,
);

$line-height: (
    title-large: 167%, 
    main: 133%,
    text: 130%,
    text-mobil: 125%,
    title-medium: 120%,
    title-small: 111%,
    period: 192%,
)