@import "@/scss/common/";

.header {
    padding-top: 10px;
    margin: 0 0 47px 0;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__projects {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Media breackpoints

@include desktop-large {
    .header {
        padding-top: 34px;
        margin: 0 0 115px 0;

        &_projects {
            margin: 0 0 93px 0;
        }
    }
}

@include laptop {
    .header {
        margin: 0 0 77px 0;
        padding-top: 34px;

        &_projects {
            margin: 0 0 55px 0;
        }
    }
}

@include mobile {
    .header {
        padding-top: 14px;
        margin: 0 0 54px 0;

        &_projects {
            margin: 0 0 44px 0;
        }
    }
}