@import "@/scss/common/";

.table {
    border-collapse: collapse;
    width: 100%;

    &__row {
        text-align: left;
        font-size: map-get($font-sizes, 'large');
        line-height: map-get($line-height, 'title-medium');
        border-bottom: 1px solid map-get($colors, 'grey-menu');
        height: 130px;

        &_header {
            font-weight: map-get($font-weights, 'medium');
            padding-bottom: 20px;
            height: 104px;
        }
    }

    &__cell {
        overflow: hidden;
        word-wrap: break-word;
        padding: 0 10px 0 0;

        &:nth-of-type(1) {
            width: 7%;
        }

        &:nth-of-type(2) {
            width: 21%;
        }

        &:nth-of-type(3) {
            width: 29.5%;
        }

        &:nth-of-type(4) {
            width: 33.5%;
        }

        &:nth-of-type(5) {
            padding: 0;
            width: 9%;
        }
    }

    &__link {
        font-weight: map-get($font-weights, 'regular');
        font-size: map-get($font-sizes, 'medium');
        padding: 0 20px 0 0;

        &::after {
            right: 0;
            top: 20%;
        }
    }
}


@include laptop {
    .table {
        margin-bottom: 100px;

        &__cell {
            padding: 0 20px 0 0;

            &:nth-of-type(1) {
                width: 9%;
            }
    
            &:nth-of-type(2) {
                width: 23%;
            }
    
            &:nth-of-type(3) {
                width: 23%;
            }
    
            &:nth-of-type(4) {
                width: 33%;
            }
    
            &:nth-of-type(5) {
                width: 12%;
            }
        }

        &__row {
            height: 153px;

            &_header {
                height: 104px;
            }
        }

        &__link {
            font-size: 0;
            line-height: 0;
            padding: 0;
            text-align: center;

            &::after {
                background: no-repeat url(../../../../public/img/chain.svg);
                width: 24px;
                height: 24px;
                margin-top: -24px;
                top: 0;
                left: 17px;
            }

            &:hover::after {
                background: no-repeat url(../../../../public/img/chain-hover.svg);
                transform: translateX(0) translateY(0);
            }
        }
    }
}


@include tablet {
    .table {
        margin-bottom: 80px;

        &__link {
            &::after {
                left: 0;
            }
        }

        &__row {
            height: 100px;

            &_header {
                height: 85px;
            }
        }

        &__cell {
            &_header {
                &:nth-of-type(5) {
                    font-size: 0;
                }
            }

            &:nth-of-type(1) {
                width: 10%;
            }
    
            &:nth-of-type(2) {
                width: 80%;
            }
    
            &:nth-of-type(3) {
                display: none;
            }
    
            &:nth-of-type(4) {
                display: none;
            }
    
            &:nth-of-type(5) {
                width: 10%;
            }
        }
    }
}

@include mobile {
    .table {
        &__link {
            &::after {
                width: 24px;
                height: 24px;
            }
        }

        &__row {
            font-size: map-get($font-sizes, 'small');
    
            &_header {
                font-weight: map-get($font-weights, 'small');
            }
        }

        &__cell {
            &:nth-of-type(1) {
                width: 26%;
            }

            &:nth-of-type(2) {
                width: 60%;
            }

            &:nth-of-type(5) {
                width: 14%;
            }
        }
    }
}