.brief-info {
    position: fixed;
    top: 90px;
    max-width: 430px;
    width: 100%;

    &__title {
        margin-bottom: 16px;
    }
    
    &__subtitle {
        margin-bottom: 24px;
        line-height: map-get($line-height, 'title-small'); 
    }
    
    &__text {
        margin-bottom: 50px;
        font-size: map-get($font-sizes, 'text-brief');
        max-width: 400px;
        width: 100%;
    }
    
    &__btn {
        margin-bottom: 50px;
    }
}


.title {
    font-weight: map-get($font-weights, 'bold');
    font-size: map-get($font-sizes, 'title-medium');
    line-height: map-get($line-height, 'title-medium'); 
}

.subtitle {
    font-size: map-get($font-sizes, 'large');
    line-height: map-get($line-height, 'title-small'); 
}

.download-btn {
    position: relative;
    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'black-main');
    border-radius: 32px;
    line-height: map-get($line-height, 'text'); 
    padding: 12px 33px 12px 64px;
    font-size: map-get($font-sizes, 'medium');

    &::after {
        content: '';
        position: absolute;
        left: 32px;
        width: 24px;
        height: 24px;
        background: url(../../../../public/img/download-icon.svg) center no-repeat;
    }
    
    &:hover {
        cursor: pointer;
        background-color: map-get($colors, 'hover-btn');
        color: map-get($colors, 'main');
    }
    
    &:hover::after  {
        background: url(../../../../public/img/download-icon-hover.svg) center no-repeat;
    }

    &_no-fill {
        background-color: map-get($colors, 'bg-color');
        color: map-get($colors, 'accent');
        border: 1px solid map-get($colors, 'accent');
    }

    &_no-fill::after {
        background: url(../../../../public/img/download-icon-footer.svg) center no-repeat;
    }
}

.menu {
    margin-bottom: 36px;

    &__item {
        padding: 0 0 16px 0;

        &:last-child {
            padding: 0; 
        }
    }

    &__link {
        position: relative;
        color: map-get($colors, 'grey-menu');
        padding: 0 0 0 142px;
        @extend %menu-animation;
    
        &::after {
            @include menu-left-after(false);
            @extend %menu-animation;
        }

        &:hover {
            color: map-get($colors, 'main');
        }

        &:hover::after {
            @include menu-left-after(true);
        }
    }
    
    &__link_active {
        color: map-get($colors, 'main');
    
        &::after {
            @include menu-left-after(true);
        }
    }
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    &__img {
        fill: map-get($colors, 'grey-main');
        width: 44px;
        height: 44px;
    }

    &__img:hover {
        fill: map-get($colors, 'main');
    }
}

// Media breackpoints

@include desktop-large {
    .brief-info {
        max-width: 500px;
        top: 180px;

        &__title {
            margin-bottom: 24px;
        }
        
        &__subtitle {
            margin-bottom: 40px;
        }
        
        &__text {
            margin-bottom: 78px;
            font-size: map-get($font-sizes, 'medium');
            max-width: 402px;
        }

        &__btn {
            margin-bottom: 76px;
        }
    }

    .title {
        font-size: map-get($font-sizes, 'title-large');
    }

    .subtitle {
        font-size: map-get($font-sizes, 'subtitle-brief');
    }

    .download-btn {
        padding: 18px 33px 18px 64px;
        font-size: map-get($font-sizes, 'large');
    }

    .menu {
        margin-bottom: 60px;

        &__item {
            padding: 0 0 24px 0;
        }
    }
}

@include laptop {
    .brief-info {
        position: static;
        max-width: 100%;
        margin-bottom: 88px;

        &__text {
            max-width: 100%;
            margin-bottom: 84px;
            font-size: map-get($font-sizes, 'title-small');
            line-height: map-get($line-height, 'main');
            text-align: center;
        }

        &__btn {
            margin-bottom: 115px;
            text-align: center;
        }

        &__title {
            margin-bottom: 37px;
        }
        
        &__subtitle {
            margin-bottom: 60px;
        }
    }

    .menu {
        position: absolute;
        top: 45px;
        left: 40%;
        display: flex;
        margin-bottom: 0;
        max-width: 263px;
        width: 100%;
        justify-content: space-between;

        &__link {
            padding: 0;
        }

        &__link::after {
            width: 0;
        }
    }

    .title {
        font-size: map-get($font-sizes, 'subtitle');
        font-weight: map-get($font-weights, 'medium');
        font-size: map-get($font-sizes, 'big');
        line-height: map-get($line-height, 'title-small');
        text-align: center;
    }

    .subtitle {
        font-weight: map-get($font-weights, 'regular');
        font-size: map-get($font-sizes, 'title-large');
        line-height: map-get($line-height, 'title-medium');
        text-align: center;
    }

    .download-btn {
        padding: 16px 31px 16px 63px;
        font-size: map-get($font-sizes, 'large');
    }

    .menu-icons {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

}