.link-icon {
    position: relative;
    font-weight: map-get($font-weights, 'medium');
    font-size: map-get($font-sizes, 'large');
    line-height: map-get($line-height, 'text'); 
    color: map-get($colors, 'main');
    padding: 0 31px 0 0;

    &::after {
        content: '';
        background: no-repeat url(../../../../public/img/arrow-up.svg);
        background-size: cover;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 40%;
        right: 0;
    }

    &:hover {
        color: map-get($colors, 'accent');
        @extend %menu-animation;
    }

    &:hover::after {
        background: no-repeat url(../../../../public/img/arrow-up-hover.svg);
        transform: translateX(5px) translateY(-5px);
        @extend %menu-animation;
    }
}