@import "./common";
@import "./components/Header/Header.scss";
@import "./components/BriefInfo/BriefInfo.scss";
@import "./components/AboutMe/AboutMe.scss";
@import "./components/LinkIcon/LinkIcon.scss";
@import "./components/Projects/Projects.scss";
@import "./components/Chips/Chips.scss";
@import "./components/Portfolio/Portfolio.scss";
@import "./components/Footer/Footer.scss";

body {
    background-color: map-get($colors, 'bg-color');
    height: 100%;
}

.page {
    font-weight: map-get($font-weights, 'regular');
    min-height: 100vh;
    min-width: map-get($content-with, 'sm');
    font-size: map-get($font-sizes, 'medium');
    color: map-get($colors, 'main');
    line-height: map-get($line-height, 'main');    
}

.container {
    max-width: map-get($content-with, 'xxl');
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    max-width: calc(100% - 480px);
    left: 500px;
    float: left;
    position: relative;
}

.titele-p {
    display: none;
    font-weight: map-get($font-weights, 'medium');
    font-size: map-get($font-sizes, 'subtitle-smale');
    line-height: map-get($line-height, 'title-small'); 
}

// Media breackpoints

@include desktop-large {
    .container {
        max-width: map-get($content-with, 'xxxl');
    }

    .content {
        max-width: calc(100% - 608px);
        left: 604px;
    }
}

@include laptop {
    .container {
        max-width: map-get($content-with, 'xl');
        padding: 0 10px;
    }

    .content {
        max-width: 100%;
        left: 0;
        float: none;
    }

    .title-p {
        display: block;
    }
}

@include tablet {
    .container {
        max-width: map-get($content-with, 'md');
        padding: 0 20px;
    }
}

@include mobile {
    .page {
        font-size: map-get($font-sizes, 'small');
        line-height: map-get($line-height, 'text-mobil');  
    }

    .container {
        max-width: map-get($content-with, 'sm');
        padding: 0 10px;
    }

    .title-p {
        font-size: map-get($font-sizes, 'title-small');
        line-height: map-get($line-height, 'main'); 
    }
}